//galeria
#galeria {
    .col-lg-4{
        margin: 0 !important;
        padding: 25px
    }
    img{
       width: 100%;
       height: 400px;
       transition: all 0.9s;
    }

    img:hover{
        border: 7px solid #aa3f3f;
        transform: scale(1.1);
    }
}