//Nuestra Bodega

.header{
    background-image: url(../img/background.jpg);
    height: 35vh;
    background-position: center;
    background-size: cover;
    
}

.vh-50{
    height: 50vmin;
}

.card-img-filter{
    filter:brightness(0.5);
}